# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local

# Database
prisma/*.db
prisma/*.db-journal

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
